In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('ABT_F2.csv', encoding='big5')

In [4]:
# 指定要替換空值的欄位
columns_to_fill = ['A01', 'A02', 'A03', 'A04', 'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'A11', 'A12', 
                   'A13', 'A14', 'A15', 'A17', 'A18', 'A19', 'A21', 'A22', 'A23', 'A24', 'A99', 
                   'C01', 'C02', 'C03', 'C04', 'C05', 'C06', 'D01', 'D02', 'D03', 'D04', 'D05', 
                   'D06', 'D07', 'D08', 'D09', 'D10', 'D12', 'D13', 'D51', 'D53', 'D55', 'D56', 
                   'D57', 'D58', 'D59', 'D60', 'D61', 'D62', 'D63', 'D65', 'D66','N_POLICY_NO', 'SUM_of_HOSPITAL', 'SUM_of_SURGERY',
       'SUM_of_PAYG', 'SUM_of_IS_SERIOUS', 'SUM_of_SERIOUS_CANCER',
       'SUM_of_IS_ACCIDENT', 'SUM_of_IS_LONG', 'SUM_of_IS_LIFE',
       'COUNT_A_ACCIDENT', 'COUNT_D_LIFE', 'COUNT_FR_FIXED_RATE',
       'COUNT_H_HOSPITAL', 'COUNT_I_INVESTMENT', 'COUNT_IS_VARIABLE_RATE',
       'COUNT_L_LONGTERM_CARE', 'COUNT_M_MAJOR_ILLNESS',
       'COUNT_R_REIMBURSEMENT', 'COUNT_S_SURGERY', 'COUNT_W_WAIVER',
       'COUNT_Z_OTHER']

# 將指定欄位的空值替換為0
df[columns_to_fill] = df[columns_to_fill].fillna(0)

In [5]:
df.head()

,ID,FIRSTDT,DAY_DIFF,SOURCE,IS_CONTRACT_APC,IS_CONTRACT_INC,IS_EMP,IS_CLAIM,IS_FB,IS_MEMBER,...,COUNT_FR_FIXED_RATE,COUNT_H_HOSPITAL,COUNT_I_INVESTMENT,COUNT_IS_VARIABLE_RATE,COUNT_L_LONGTERM_CARE,COUNT_M_MAJOR_ILLNESS,COUNT_R_REIMBURSEMENT,COUNT_S_SURGERY,COUNT_W_WAIVER,COUNT_Z_OTHER
0,#005432F5B4D312911,05JUN1993,11349,意外險,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,#010A3014A265DF94D,19APR1993,11396,意外險,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,#02238ADE059241E68,16JUN1993,11338,意外險,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,#023D96CE3BF169959,05JUN1993,11349,意外險,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,#0328BA853B310F5DF,16JUN1993,11338,意外險,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#欄位名稱
df.columns

Index(['ID', 'FIRSTDT', 'DAY_DIFF', 'SOURCE', 'IS_CONTRACT_APC',
       'IS_CONTRACT_INC', 'IS_EMP', 'IS_CLAIM', 'IS_FB', 'IS_MEMBER', 'IS_MML',
       'IS_ACC', 'MAX_RGN_CODE', 'MAX_RGN_PLACE', 'MAX_ISSUE_DAYS',
       'SUM_ISSUE_DAYS', 'SUM_of_STEP', 'HIGH_LV', 'A01', 'A02', 'A03', 'A04',
       'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'A11', 'A12', 'A13', 'A14',
       'A15', 'A17', 'A18', 'A19', 'A21', 'A22', 'A23', 'A24', 'A99', 'C01',
       'C02', 'C03', 'C04', 'C05', 'C06', 'D01', 'D02', 'D03', 'D04', 'D05',
       'D06', 'D07', 'D08', 'D09', 'D10', 'D12', 'D13', 'D51', 'D53', 'D55',
       'D56', 'D57', 'D58', 'D59', 'D60', 'D61', 'D62', 'D63', 'D65', 'D66',
       'EFT_CUST', 'N_POLICY_NO', 'SUM_of_HOSPITAL', 'SUM_of_SURGERY',
       'SUM_of_PAYG', 'SUM_of_IS_SERIOUS', 'SUM_of_SERIOUS_CANCER',
       'SUM_of_IS_ACCIDENT', 'SUM_of_IS_LONG', 'SUM_of_IS_LIFE',
       'COUNT_A_ACCIDENT', 'COUNT_D_LIFE', 'COUNT_FR_FIXED_RATE',
       'COUNT_H_HOSPITAL', 'COUNT_I_INVESTMENT', 'COUNT_IS_VARIABLE_RATE',
       'COUNT_L_LONGTERM_CARE', 'COUNT_M_MAJOR_ILLNESS',
       'COUNT_R_REIMBURSEMENT', 'COUNT_S_SURGERY', 'COUNT_W_WAIVER',
       'COUNT_Z_OTHER'],
      dtype='object')

In [7]:
df_unique = df.sort_values('HIGH_LV', ascending=False).drop_duplicates('ID', keep='first')

In [ ]:
# df_unique.to_csv('ABT.csv',index=False)

In [7]:
# 數位客戶
df = df_unique[df_unique['IS_MEMBER']==1]
len(df)

NameError: name 'df_unique' is not defined

In [8]:
df = df[df['IS_MEMBER']==1]

In [9]:
# 分位數會沿用到全客戶
# 計算分位數
seniority_q75 = df['DAY_DIFF'].quantile(0.75)
seniority_q50 = df['DAY_DIFF'].quantile(0.5)
seniority_q25 = df['DAY_DIFF'].quantile(0.25)
mml_q75 = df['A08'].quantile(0.75)
ag_q90 = (df['A01'] + df['A02']).quantile(0.9)
c800_q91 = df['A09'].quantile(0.91)
digital_q75 = (df['A08'] + df['A07']).quantile(0.75)

In [13]:
def classify(row):
    if row['IS_FB'] == 1 and row['IS_EMP'] == 0 and row['HIGH_LV'] >= 2:
        return 1
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and row['SUM_of_STEP'] > 0:
        return 2
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] >= mml_q75:
        return 3
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] < mml_q75:
        return 4
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and row['SUM_ISSUE_DAYS'] > 0:
        return 5
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] >= c800_q91:
        return 6
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) >= ag_q90:
        return 7
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) >= digital_q75:
        return 8
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] >= seniority_q75:
        return 9
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
        return 10
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
        return 11
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q25:
        return 12
    else:
        if row['DAY_DIFF'] >= seniority_q75:
            return 9
        elif row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
            return 10
        elif row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
            return 11
        else:
            return 12

In [44]:
# 對DataFrame應用分類函數
df['CLASS'] = df.apply(classify, axis=1)

# 顯示結果
df.head()

,ID,FIRSTDT,DAY_DIFF,SOURCE,IS_CONTRACT_APC,IS_CONTRACT_INC,IS_EMP,IS_CLAIM,IS_FB,IS_MEMBER,...,COUNT_H_HOSPITAL,COUNT_I_INVESTMENT,COUNT_IS_VARIABLE_RATE,COUNT_L_LONGTERM_CARE,COUNT_M_MAJOR_ILLNESS,COUNT_R_REIMBURSEMENT,COUNT_S_SURGERY,COUNT_W_WAIVER,COUNT_Z_OTHER,CLASS
687,*10459CB8DAC2AF4AB,21MAY2008,5885,官網,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11
3325,*15276D743D7D0A00,07AUG2000,8729,契約要保人,1,1,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
9075,*1FB4C4A40C3845538,25APR1996,10294,契約要保人,1,1,0,0,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9
12866,*23E1659C64D6AC8A1,02JUN2000,8795,契約被保人,0,1,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10
19265,*2A75554648E6CCD44,07MAR2007,6326,官網,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11

In [45]:
# 計算 df['result'] 各值的出現次數和占比
result_counts = df['CLASS'].value_counts().sort_index()
result_percentages = df['CLASS'].value_counts(normalize=True).sort_index() * 100

print(result_counts)
print(result_percentages)

CLASS
1      40263
2     357648
3     286668
4     317375
5     101841
6     256632
7     220852
8     285676
9     545266
10    580793
11    599510
12    617269
Name: count, dtype: int64
CLASS
1      0.956413
2      8.495620
3      6.809551
4      7.538969
5      2.419145
6      6.096072
7      5.246149
8      6.785987
9     12.952323
10    13.796237
11    14.240843
12    14.662692
Name: proportion, dtype: float64

In [46]:
# 想篩選的ID列表
id_list = ['A18434FFF04818EB88', 'F2145A73B19B29060F', 'S17E435DA94E7D0BAB', 'U25C08B91577F3BBBF']

# 使用isin方法篩選DataFrame
filtered_data = df[df['ID'].isin(id_list)]
filtered_data

,ID,FIRSTDT,DAY_DIFF,SOURCE,IS_CONTRACT_APC,IS_CONTRACT_INC,IS_EMP,IS_CLAIM,IS_FB,IS_MEMBER,...,COUNT_H_HOSPITAL,COUNT_I_INVESTMENT,COUNT_IS_VARIABLE_RATE,COUNT_L_LONGTERM_CARE,COUNT_M_MAJOR_ILLNESS,COUNT_R_REIMBURSEMENT,COUNT_S_SURGERY,COUNT_W_WAIVER,COUNT_Z_OTHER,CLASS
349864,A18434FFF04818EB88,21NOV2008,5701,契約被保人,1,1,0,0,1,1,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
3955577,F2145A73B19B29060F,11JUN1997,9882,契約要保人,1,1,1,1,1,1,...,1.0,1.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,6
11174853,S17E435DA94E7D0BAB,18MAY1992,11732,契約要保人,1,1,1,0,1,1,...,1.0,1.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,5
12619119,U25C08B91577F3BBBF,21SEP2006,6493,官網,1,1,1,0,1,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7

# 跑全客群後儲存 ABT.csv

In [8]:
# 數位客戶
df = df_unique
len(df)

13105329

In [9]:
# 使用數位客戶的分位數
seniority_q75=9867.0
seniority_q50=8196.0
seniority_q25=4172.0
mml_q75=23.0
ag_q90=12.0
c800_q91=1.0
digital_q75=24.0

In [14]:
# 對DataFrame應用分類函數
df['CLASS'] = df.apply(classify, axis=1)

# 顯示結果
df.head()

,ID,FIRSTDT,DAY_DIFF,SOURCE,IS_CONTRACT_APC,IS_CONTRACT_INC,IS_EMP,IS_CLAIM,IS_FB,IS_MEMBER,...,COUNT_H_HOSPITAL,COUNT_I_INVESTMENT,COUNT_IS_VARIABLE_RATE,COUNT_L_LONGTERM_CARE,COUNT_M_MAJOR_ILLNESS,COUNT_R_REIMBURSEMENT,COUNT_S_SURGERY,COUNT_W_WAIVER,COUNT_Z_OTHER,CLASS
5893046,HDE3AB1D7FABF8A5DD,03JUN2022,759,FitBack,0,0,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2814802,E20F8EF37CBC11F50D,21APR2016,2993,契約被保人,1,1,0,1,1,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
7386176,L260F7DE324F056646,14JUN2006,6592,契約要保人,1,1,1,0,1,1,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,8
7584176,L2E8A69D51BDDB0029,14JAN2011,4917,契約要保人,1,1,0,0,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1
6892340,L10A2D01E7CC97BF02,20SEP2004,7224,契約被保人,1,1,0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [15]:
# 計算 df['result'] 各值的出現次數和占比
result_counts = df['CLASS'].value_counts().sort_index()
result_percentages = df['CLASS'].value_counts(normalize=True).sort_index() * 100

print(result_counts)
print(result_percentages)

CLASS
1       40479
2      321059
3      270988
4      313200
5      192814
6      428783
7      417150
8      402004
9     2736196
10    2219269
11    2832632
12    2930755
Name: count, dtype: int64
CLASS
1      0.308874
2      2.449835
3      2.067770
4      2.389868
5      1.471264
6      3.271822
7      3.183056
8      3.067485
9     20.878499
10    16.934096
11    21.614352
12    22.363078
Name: proportion, dtype: float64

In [16]:
# 想篩選的ID列表
id_list = ['A18434FFF04818EB88', 'F2145A73B19B29060F', 'S17E435DA94E7D0BAB', 'U25C08B91577F3BBBF']

# 使用isin方法篩選DataFrame
filtered_data = df[df['ID'].isin(id_list)]
filtered_data

,ID,FIRSTDT,DAY_DIFF,SOURCE,IS_CONTRACT_APC,IS_CONTRACT_INC,IS_EMP,IS_CLAIM,IS_FB,IS_MEMBER,...,COUNT_H_HOSPITAL,COUNT_I_INVESTMENT,COUNT_IS_VARIABLE_RATE,COUNT_L_LONGTERM_CARE,COUNT_M_MAJOR_ILLNESS,COUNT_R_REIMBURSEMENT,COUNT_S_SURGERY,COUNT_W_WAIVER,COUNT_Z_OTHER,CLASS
3955577,F2145A73B19B29060F,11JUN1997,9882,契約要保人,1,1,1,1,1,1,...,1.0,1.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,6
349864,A18434FFF04818EB88,21NOV2008,5701,契約被保人,1,1,0,0,1,1,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1
12619119,U25C08B91577F3BBBF,21SEP2006,6493,官網,1,1,1,0,1,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7
11174853,S17E435DA94E7D0BAB,18MAY1992,11732,契約要保人,1,1,1,0,1,1,...,1.0,1.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,5

In [17]:
# 將結果保存為 CSV 文件
df.to_csv('ABT.csv', index=False)

# 檢視員工分佈

In [38]:
df_emp = pd.read_csv('EMPLOYEE_Q.csv')
df_emp = df_emp[['EMPLOYEE_ID_SAS', 'NAME','DIV_FULL_NAME',  'MKT_DEPT_NAME','IS_MANAGER']]
# 合併兩個DataFrame，使用inner join
merged_df = pd.merge(df_emp, df, left_on='EMPLOYEE_ID_SAS', right_on='ID', how='inner')

## 原版都不排

In [59]:
def classify(row):
    if row['IS_FB'] == 1 and row['HIGH_LV'] >= 2:
        return 1
    elif row['IS_FB'] == 1 and row['HIGH_LV'] < 2 and row['SUM_of_STEP'] > 0:
        return 2
    elif row['IS_FB'] == 1 and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] >= mml_q75:
        return 3
    elif row['IS_FB'] == 1 and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] < mml_q75:
        return 4
    elif row['IS_FB'] == 0 and row['SUM_ISSUE_DAYS'] > 0:
        return 5
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] >= c800_q91:
        return 6
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) >= ag_q90:
        return 7
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) >= digital_q75:
        return 8
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] >= seniority_q75:
        return 9
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
        return 10
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
        return 11
    elif row['IS_FB'] == 0 and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q25:
        return 12
    else:
        if row['DAY_DIFF'] >= seniority_q75:
            return 9
        elif row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
            return 10
        elif row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
            return 11
        else:
            return 12

# 對DataFrame應用分類函數
merged_df['CLASS'] = merged_df.apply(classify, axis=1)

# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[~merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('=========內勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))
# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('')
print('=========外勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))

=========內勤同仁=========
 CLASS  COUNT  PERCENT
     1   1258    23.95
     2   2562    48.77
     3    343     6.53
     4    410     7.81
     5     21     0.40
     6     26     0.49
     7      9     0.17
     8     20     0.38
     9     50     0.95
    10    108     2.06
    11    121     2.30
    12    325     6.19

=========外勤同仁=========
 CLASS  COUNT  PERCENT
     1   4757    18.04
     2  16841    63.87
     3   3059    11.60
     4    261     0.99
     5     39     0.15
     6    102     0.39
     7    130     0.49
     8    121     0.46
     9     96     0.36
    10    217     0.82
    11    262     0.99
    12    484     1.84

In [60]:
# 想篩選的ID列表
id_list = ['A1891BB58D88F22679','A2E70374E827C7B79F','F180FCD2AAB6C31297', 'F2145A73B19B29060F','G29791C00F48C59C2A', 'S17E435DA94E7D0BAB', 'U25C08B91577F3BBBF']
names = [ '呂O德', '黃O玉', '林O安', '廖O如', '莊O儀', '劉O旗', '林O穎']

# 筛选出指定ID的数据
filtered_data = merged_df[merged_df['ID'].isin(id_list)].copy().sort_values(by='ID')

# 添加'NAME'列
filtered_data['NAME'] = names
filtered_data[['ID','NAME','CLASS']]

                       ID NAME  CLASS
5622   A1891BB58D88F22679  呂O德      1
31540  A2E70374E827C7B79F  黃O玉      1
27962  F180FCD2AAB6C31297  林O安      1
7778   F2145A73B19B29060F  廖O如      1
27065  G29791C00F48C59C2A  莊O儀      2
16324  S17E435DA94E7D0BAB  劉O旗      1
25302  U25C08B91577F3BBBF  林O穎      1

## C1排員工

In [65]:
def classify(row):
    if row['IS_FB'] == 1 and row['IS_EMP'] == 0 and row['HIGH_LV'] >= 2:
        return 1
    elif row['IS_FB'] == 1 and row['HIGH_LV'] < 2 and row['SUM_of_STEP'] > 0:
        return 2
    elif row['IS_FB'] == 1 and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] >= mml_q75:
        return 3
    elif row['IS_FB'] == 1 and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] < mml_q75:
        return 4
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and row['SUM_ISSUE_DAYS'] > 0:
        return 5
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] >= c800_q91:
        return 6
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) >= ag_q90:
        return 7
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) >= digital_q75:
        return 8
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] >= seniority_q75:
        return 9
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
        return 10
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
        return 11
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q25:
        return 12
    else:
        if row['DAY_DIFF'] >= seniority_q75:
            return 9
        elif row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
            return 10
        elif row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
            return 11
        else:
            return 12

# 對DataFrame應用分類函數
merged_df['CLASS'] = merged_df.apply(classify, axis=1)


# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[~merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('=========內勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))
# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('')
print('=========外勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))

=========內勤同仁=========
 CLASS  COUNT  PERCENT
     2   2562    48.77
     3    343     6.53
     4    410     7.81
     5    306     5.83
     6    246     4.68
     7    130     2.47
     8    692    13.17
     9     41     0.78
    10    100     1.90
    11    102     1.94
    12    321     6.11

=========外勤同仁=========
 CLASS  COUNT  PERCENT
     2  16841    63.87
     3   3059    11.60
     4    261     0.99
     5    994     3.77
     6   2133     8.09
     7   1246     4.73
     8    961     3.64
     9     71     0.27
    10    166     0.63
    11    201     0.76
    12    436     1.65

In [66]:
# 想篩選的ID列表
id_list = ['A1891BB58D88F22679','A2E70374E827C7B79F','F180FCD2AAB6C31297', 'F2145A73B19B29060F','G29791C00F48C59C2A', 'S17E435DA94E7D0BAB', 'U25C08B91577F3BBBF']
names = [ '呂O德', '黃O玉', '林O安', '廖O如', '莊O儀', '劉O旗', '林O穎']

# 筛选出指定ID的数据
filtered_data = merged_df[merged_df['ID'].isin(id_list)].copy().sort_values(by='ID')

# 添加'NAME'列
filtered_data['NAME'] = names
filtered_data[['ID','NAME','CLASS']]

                       ID NAME  CLASS
5622   A1891BB58D88F22679  呂O德      8
31540  A2E70374E827C7B79F  黃O玉      8
27962  F180FCD2AAB6C31297  林O安      8
7778   F2145A73B19B29060F  廖O如      6
27065  G29791C00F48C59C2A  莊O儀      2
16324  S17E435DA94E7D0BAB  劉O旗      5
25302  U25C08B91577F3BBBF  林O穎      7

## C1-C4排員工 (V)

In [67]:
def classify(row):
    if row['IS_FB'] == 1 and row['IS_EMP'] == 0 and row['HIGH_LV'] >= 2:
        return 1
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and row['SUM_of_STEP'] > 0:
        return 2
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] >= mml_q75:
        return 3
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] < mml_q75:
        return 4
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and row['SUM_ISSUE_DAYS'] > 0:
        return 5
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] >= c800_q91:
        return 6
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) >= ag_q90:
        return 7
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) >= digital_q75:
        return 8
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] >= seniority_q75:
        return 9
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
        return 10
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
        return 11
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q25:
        return 12
    else:
        if row['DAY_DIFF'] >= seniority_q75:
            return 9
        elif row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
            return 10
        elif row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
            return 11
        else:
            return 12

# 對DataFrame應用分類函數
merged_df['CLASS'] = merged_df.apply(classify, axis=1)


# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[~merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('=========內勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))
# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('')
print('=========外勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))

=========內勤同仁=========
 CLASS  COUNT  PERCENT
     2      1     0.02
     3      1     0.02
     4      1     0.02
     5    854    16.26
     6    718    13.67
     7    348     6.62
     8   2258    42.98
     9    114     2.17
    10    199     3.79
    11    192     3.66
    12    567    10.79

=========外勤同仁=========
 CLASS  COUNT  PERCENT
     2      3     0.01
     3      1     0.00
     5   3711    14.07
     6   9637    36.55
     7   5830    22.11
     8   5869    22.26
     9    109     0.41
    10    294     1.11
    11    289     1.10
    12    626     2.37

In [68]:
# 想篩選的ID列表
id_list = ['A1891BB58D88F22679','A2E70374E827C7B79F','F180FCD2AAB6C31297', 'F2145A73B19B29060F','G29791C00F48C59C2A', 'S17E435DA94E7D0BAB', 'U25C08B91577F3BBBF']
names = [ '呂O德', '黃O玉', '林O安', '廖O如', '莊O儀', '劉O旗', '林O穎']

# 筛选出指定ID的数据
filtered_data = merged_df[merged_df['ID'].isin(id_list)].copy().sort_values(by='ID')

# 添加'NAME'列
filtered_data['NAME'] = names
filtered_data[['ID','NAME','CLASS']]

                       ID NAME  CLASS
5622   A1891BB58D88F22679  呂O德      8
31540  A2E70374E827C7B79F  黃O玉      8
27962  F180FCD2AAB6C31297  林O安      8
7778   F2145A73B19B29060F  廖O如      6
27065  G29791C00F48C59C2A  莊O儀      5
16324  S17E435DA94E7D0BAB  劉O旗      5
25302  U25C08B91577F3BBBF  林O穎      7

## C2-C4排員工

In [69]:
def classify(row):
    if row['IS_FB'] == 1 and row['HIGH_LV'] >= 2:
        return 1
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and row['SUM_of_STEP'] > 0:
        return 2
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] >= mml_q75:
        return 3
    elif row['IS_FB'] == 1 and row['IS_EMP'] == 0  and row['HIGH_LV'] < 2 and (pd.isnull(row['SUM_of_STEP']) or row['SUM_of_STEP'] == 0) and row['A08'] < mml_q75:
        return 4
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and row['SUM_ISSUE_DAYS'] > 0:
        return 5
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] >= c800_q91:
        return 6
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) >= ag_q90:
        return 7
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) >= digital_q75:
        return 8
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] >= seniority_q75:
        return 9
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
        return 10
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
        return 11
    elif ((row['IS_FB'] == 0) or (row['IS_EMP'] == 1)) and (pd.isnull(row['SUM_ISSUE_DAYS']) or row['SUM_ISSUE_DAYS'] == 0) and row['A09'] < c800_q91 and (row['A01'] + row['A02']) < ag_q90 and (row['A08'] + row['A07']) < digital_q75 and row['DAY_DIFF'] < seniority_q25:
        return 12
    else:
        if row['DAY_DIFF'] >= seniority_q75:
            return 9
        elif row['DAY_DIFF'] < seniority_q75 and row['DAY_DIFF'] >= seniority_q50:
            return 10
        elif row['DAY_DIFF'] < seniority_q50 and row['DAY_DIFF'] >= seniority_q25:
            return 11
        else:
            return 12

# 對DataFrame應用分類函數
merged_df['CLASS'] = merged_df.apply(classify, axis=1)


# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[~merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('=========內勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))
# 篩選DIV_FULL_NAME不包含'推展處'的資料
filtered_df = merged_df[merged_df['DIV_FULL_NAME'].str.contains('推展處|通訊處', na=False)]
print('')
print('=========外勤同仁=========')
class_count = filtered_df['CLASS'].value_counts().sort_index()
class_percent = round(filtered_df['CLASS'].value_counts(normalize=True).sort_index() * 100,2)
# 創建 DataFrame
result_df = pd.DataFrame({
    'CLASS': class_count.index,
    'COUNT': class_count.values,
    'PERCENT': class_percent.values
})
print(result_df.to_string(index=False))

=========內勤同仁=========
 CLASS  COUNT  PERCENT
     1   1258    23.95
     2      1     0.02
     3      1     0.02
     4      1     0.02
     5    579    11.02
     6    517     9.84
     7    232     4.42
     8   1599    30.44
     9    114     2.17
    10    198     3.77
    11    191     3.64
    12    562    10.70

=========外勤同仁=========
 CLASS  COUNT  PERCENT
     1   4757    18.04
     2      3     0.01
     3      1     0.00
     5   2779    10.54
     6   7653    29.02
     7   4777    18.12
     8   5082    19.27
     9    108     0.41
    10    294     1.11
    11    289     1.10
    12    626     2.37

In [70]:
# 想篩選的ID列表
id_list = ['A1891BB58D88F22679','A2E70374E827C7B79F','F180FCD2AAB6C31297', 'F2145A73B19B29060F','G29791C00F48C59C2A', 'S17E435DA94E7D0BAB', 'U25C08B91577F3BBBF']
names = [ '呂O德', '黃O玉', '林O安', '廖O如', '莊O儀', '劉O旗', '林O穎']

# 筛选出指定ID的数据
filtered_data = merged_df[merged_df['ID'].isin(id_list)].copy().sort_values(by='ID')

# 添加'NAME'列
filtered_data['NAME'] = names
filtered_data[['ID','NAME','CLASS']]

                       ID NAME  CLASS
5622   A1891BB58D88F22679  呂O德      1
31540  A2E70374E827C7B79F  黃O玉      1
27962  F180FCD2AAB6C31297  林O安      1
7778   F2145A73B19B29060F  廖O如      1
27065  G29791C00F48C59C2A  莊O儀      5
16324  S17E435DA94E7D0BAB  劉O旗      1
25302  U25C08B91577F3BBBF  林O穎      1